<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/polkit/1.0/policyconfig.dtd">
<policyconfig>
  <action id="com.loadout.tdp-helper">
    <description>Loadout: Set CPU TDP</description>
    <message>Loadout wants to change the CPU power limit</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/deck/.local/share/loadout/helpers/loadout-tdp-helper.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
